In [1]:
import pandas as pd

In [4]:
animals = pd.read_csv('cows_and_goats.csv',index_col=0)
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [7]:
animals['Cows'][1]

20

In [15]:
animals.iloc[:,0]

Year 1    12
Year 2    20
Name: Cows, dtype: int64

In [16]:
animals.iloc[0]

Cows     12
Goats    22
Name: Year 1, dtype: int64

In [21]:
animals.iloc[[0,1],0]

Year 1    12
Year 2    20
Name: Cows, dtype: int64

In [23]:
animals.iloc[-1]

Cows     20
Goats    19
Name: Year 2, dtype: int64

In [29]:
animals.loc['Year 1', 'Cows']

12

In [33]:
animals.loc['Year 1':'Year 2']

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [ ]:
#Label-based selection derives its power from the labels in the index. Critically, the index we use is not immutable. 
# We can manipulate the index in any way we see fit.

#The set_index() method can be used to do the job. Here is what happens when we set_index to the title field:

In [40]:
animals.Goats > 20

Year 1     True
Year 2    False
Name: Goats, dtype: bool

In [42]:
animals.loc[animals.Goats > 20]

        Cows  Goats
Year 1    12     22

In [ ]:
#Pandas comes with a few built-in conditional selectors, two of which we will highlight here.

#The first is isin. isin is lets you select data whose value "is in" a list of values. For example, 
# here's how we can use it to select wines only from Italy or France:

In [47]:
animals.loc[animals.Cows.isin([10,20])]

        Cows  Goats
Year 2    20     19

In [49]:
animals['Cows']=50
animals

        Cows  Goats
Year 1    50     22
Year 2    50     19

In [52]:
animals['Cows']=range(len(animals),0,-1)
animals

        Cows  Goats
Year 1     2     22
Year 2     1     19